*
{
    margin: 0px;
    padding: 0px;
}
.sitename{
    font-size: 30px;
    padding-top: .8vw;
    padding-bottom: 1vw;
}
nav
{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: white;
}
.navlinks
{
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 1vw;
}
nav .navlinks:hover{
    color: #B9D91A;
}
section video{
    height: 100vh;
    width: 100vw; 
    object-fit: cover;
    position: fixed;   
    z-index: -1;
}
section .content {
    padding-top: 20vh;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 10vh;

}
section .content h1, p{
    background-color: #b9d91a40;
}
section .content p{
    font-size:6vh;
}
section .content h1 span{
    color: #B9D91A;
    
}
/*base sprite css*/
footer{
    text-align: center;
    position: fixed;
    bottom: 0vw;
    width: 100vw;
}
.icon{
    background: url(media/sprite.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    display: inline-block;
}
/*individual sprite positions*/
#twitter{background-position: -430px -46px;}
#instagram{background-position: -40px -176px;}
#tiktok{background-position: -170px -176px;}
#spotify{background-position: -300px -305px;}
#youtube{background-position: -300px -176px;}
/*code for site responsiveness*/
@media screen and (max-width: 600px){
nav{
    position: relative;
    background-color: white;
}
.sitename{
    padding: 1vw;
    color: black;
    transition: .5s;
}
.navlinks{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.navlinks a{
    color:black;
    padding:12px 16px;
    display:block;
}
.navlinks a:hover{background-color: #B9D91A; color: white; transition:  .5s;}
nav:hover{background-color: #B9D91A;}
nav:hover .navlinks{display: block;}
nav:hover .sitename{background-color: #B9D91A; color: white; transition: .5s;}
}